@inherits System.Web.Mvc.WebViewPage

@{
    Sannsyn.Episerver.Commerce.Models.ViewModels.SannsynAdminViewModel myModel = Model as Sannsyn.Episerver.Commerce.Models.ViewModels.SannsynAdminViewModel;
    Layout = "../_SannsynLayout.cshtml";
}

<div>
    <h1>Sannsyn Administration</h1>
    <section>
        <h2>Index Existing Orders</h2>
        <p>Loads existing orders into the Sannsyn service, connecting users and purchase.</p>
        <span class="dijitButton">
            <input type="button" class="dijitButtonNode" value="Index Orders"
                   onclick="location.href='@Url.Action("RunIndexingTool", "SannsynAdmin" )'" />
        </span>
    </section>
    <section>
        <h2>Index products with categories</h2>
        <p></p>
        <span class="dijitButton">
            <input type="button" class="dijitButtonNode" value="Index Products"
                   onclick="location.href = '@Url.Action("IndexProductsWithCategories", "SannsynAdmin")'" />
        </span>
    </section>
    <section>
        <h2>Restart Service</h2>
        <p>
            Stops the Sannsyn service, creating a new one using the Episerver standard configuration. <b>Note!</b> Data that has not been persisted will be lost.
        </p>
        <span class="epi-danger dijitButton ">
            <input type="button" class="dijitButtonNode" value="Restart Service"
                   onclick="location.href = '@Url.Action("StopAndStartSannsynService", "SannsynAdmin")'" />
        </span>
    </section>
    <div>
        <b>
            @myModel.StatusMessage
        </b>
    </div>
</div>